.titulo_fixado {
    background-color: rgb(255, 81, 0);
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;

}