.titulo_fixado {
    background-color: rgb(2, 126, 39);
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed top;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(0, 175, 53);
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;

}

h1,
h2,
h3 {
    margin: 0;
    padding: 10px;
}



body {
    margin: 0;
    background-image: url(assets/estilo-de-papel-linhas-dinamicas-fundo_23-2149008629.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {

    text-align: center;
}

.introdução {
    background-color: rgb(70, 67, 67);
    color: white;
    margin: 30px auto;
    padding: 15px;
   
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

.Display {
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    padding: 15px;
    max-width: 900px;

}